[data-controls] {
    --fullScreenVisibility: block;
}

.controls__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
    height: 100%;
}

.controls__header {
    display: flex;
    flex-direction: column;
    cursor: auto;
}

.controls__centre {
    flex: 1;
}

.controls__footer {
    cursor: auto;
}

/* General Controls */
.controls__general {
    display: flex;
    align-items: center;
    height: 20px;
}

.general__toggle-btn button,
.volume__on-off-btn,
.playback-rate button,
.general__full-screen button {
    display: block;
    width: 10vw;
    height: 10vw;
    max-width: 50px;
    max-height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    aspect-ratio: 1;
}

[data-element].mobile-hidden {
    display: var(--fullScreenVisibility);
}

.general__toggle-btn button {
    background-image: url(../icons/play-solid.svg);
}

.video.hideable .general__toggle-btn button {
    background-image: url(../icons/pause-solid.svg);
}

@media (hover:hover) {
    .general__toggle-btn button:hover,
    .volume__on-off-btn:hover,
    .playback-rate button:hover,
    .general__full-screen button:hover {
        background-color: rgba(128, 128, 128, 0.5);
    }
}

@media (hover: none) {
    .general__toggle-btn button:active,
    .volume__on-off-btn:active,
    .playback-rate button:active,
    .general__full-screen button:active {
        background-color: rgba(128, 128, 128, 0.5);
    }
}

.general__volume {
    position: relative;
    margin-left: 18px;
}

.general__volume:hover .volume__range-bar {
    --isRangeBarVisible: visible;
    opacity: 1;
}

.volume__on-off-btn {
    background-image: url(../icons/volume-solid.svg);
}

.volume__on-off-btn.muted {
    background-image: url(../icons/volume-xmark-solid.svg);
}

.general__time {
    margin-left: auto;
    margin-right: 15px;
}

.general__full-screen button {
    background-image: url("../icons/expand-solid.svg");
}

@media (max-width: 1000px) {
    .controls__general {
        --fullScreenVisibility: none;
    }
}